.newfile-window {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px;
  color: #eaeaea;
    background-color: #1c1c1c;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    backdrop-filter: blur(100px);
    
}

.newfile-window h2 {
  margin: 0;
  font-size: 18px;
}

.newfile-window .hint {
  margin: 0;
  font-size: 13px;
  color: #c2c5cc;
}

.newfile-form {
  display: flex;
  gap: 8px;
}

.newfile-form input {
  flex: 1;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(255, 255, 255, 0.08);
  color: #f5f5f5;
  outline: none
}

.newfile-form input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.newfile-form button {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  background: #3f3f40;
  color: #fff;
  cursor: pointer;
  transition: all 140ms ease;
}

.newfile-form button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.newfile-form button:not(:disabled):hover {
  background: #3f3f40af;
}

.error {
  margin: 0;
  color: #ffb4a2;
  font-size: 13px;
}

// @media (prefers-color-scheme: light) {
//   .newfile-window {
//     color: #1c1c1c;
//   }
//   .newfile-window .hint {
//     color: #4b4f57;
//   }
//   .newfile-form input {
//     background: rgba(0, 0, 0, 0.874);
//     color: #111;
//     border: 1px solid rgba(0, 0, 0, 0.08);
//   }
//   .error {
//     color: #c24030;
//   }
// }
