.resume-window {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #191b1c47;
    padding: 0;
    overflow: hidden;

    embed{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0 0 8px 8px;
        background-color: #ffffff;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    }
}
