.window{
    height: 100%;
    overflow: hidden;
    background-color: black;
    border-radius: 0.75rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;

    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);

    &.maximizing {
        animation: maximizeWindow 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    }

    &.minimizing {
        animation: minimizeWindow 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
    }
    transition: border-radius 250ms ease;

    &.maximized {
        border-radius: 0;
    }

    .nav{
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        color: rgba(168, 168, 168, 0.629);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        border-bottom: 1px solid #333;
        .dots{
            display: flex;
            .dot{
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color: white;
                margin-right: 0.25rem;
                display: inline-block;
                transition: all 0.2s ease-in-out;
                &:hover{
                    opacity: 0.8;
                    cursor: pointer;
                }
            }
            .red{
                background-color: #eb3535;
            }
            .yellow{
                background-color: #FFBD44;
            }
            .green{
                background-color: #00CA56;
            }

        }
    }

    .main-content {
        height: calc(100% - 48px); // Subtract nav height
        overflow: hidden;
    }
}

@keyframes maximizeWindow {
    from {
        transform: scale(0.95);
        opacity: 0.8;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes minimizeWindow {
    from {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    to {
        transform: scale(0.1) translateY(80vh);
        opacity: 0;
    }
}
