* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html,
body,
#root {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-image: url('/bg2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    transition: background-image 0.3s ease;
}

/* Light Mode */
[data-theme="light"] main {
    background-image: url('/bg1.jpg');
    background-color: #f5f5f5;
}